* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(/jess-bailey-q10VITrVYUM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  animation: change 16s infinite ease-in-out;
}

header {
  height: 10vh;
  text-decoration: none;
}

header nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding-right: 41px;
  padding-left: 177px;
  text-decoration: none;
  text-decoration: none;
  padding-top: 61px;
  font-size: 29px;
  font-family: 'Permanent Marker', cursive;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
  font-weight: bold;
  font-weight: 2000;
}

#signin {
  padding-right: 27px;
  padding-left: 18px;
}

#signup {
  padding-left: 0px;
}

#home {
  padding-left: 27px;
  padding-top: 61px;
}

#about {
  padding-left: 18px;
}

#contactus {
  padding-left: 18px;
}

.maindg {
  padding-left: 88px;
}

.content {
  display: inline-block;
  padding-top: 151px;
  width: 100vw;
}

.footer {
  padding-top: 20vh;
  text-align: center;
  font-size: 23px;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
  line-height: 60px;
  font-size: 25px;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span {
  color: #fff;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3B5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
  background: #46C1F6;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #e1306c;
}

@keyframes change {
  0% {
    background-image: url(/Top\ Planning\ Tips_5c2ded942455d.jpg);
  }

  20% {
    background-image: url(/Event-planning-guide-illustration-featured.png);
  }

  40% {
    background-image: url(/Planning-Business-Post-Covid-Era-min.webp);
  }

  60% {
    background-image: url(/wp5315782.jpg);
  }

  80% {
    background-image: url(/jess-bailey-q10VITrVYUM-unsplash.jpg);
  }

  100% {
    background-image: url(/Top\ Planning\ Tips_5c2ded942455d.jpg);
  }
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(12, 12, 12);
  font-family: 'Permanent Marker', cursive;
  max-width: 100%;
  font-size: 42px;
  padding-top: 10vh;
}

.text-change>.txt {
  border-right: 0.2rem solid rgb(255, 0, 0);
  animation: blink 575ms infinite;
}

@keyframes blink {
  to {
    border-right: 0.2rem solid transparent;
  }
}

.createagroup {
  text-align: center;
  padding-top: 18vh;
  font-size: 32px;
}

.joinagroup {
  text-align: center;
  padding-top: 18vh;
  font-size: 32px;
}